@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, dim;
}

/*@source "./src/main.js"*/

/*@font-face {
    font-family: "Montserrat";
    src: url("../static/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}*/

